.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 61px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #FFFFFF;
  z-index: 99;
}

.logo {
  height: 24px;
  width: 85px;
  left: 24px;
  top: 19px;
  border-radius: 0px;
}

.profile {
  max-width: 156px;
  max-height: 44px;
  gap: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-ul {
  padding: 0;
  display: flex;
  align-items: flex-end;
  column-gap: 48px;
}

.header a {
  text-transform: uppercase;
  line-height: 18px;
  letter-spacing: 1.9600000381469727px;
  color: #011F3A;
  position: relative;
  font-size: 15px;
}

.header a:after,
.active::after {
  content: "";
  position: absolute;
  height: 1.5px;
  top: 19px;
  left: 0;
  width: 0%;
  background-color: #011F3A;
  transition: all .5s ease-in-out;
}

.active::after {
  width: 100% !important;
}

.header a:hover::after {
  width: 100%;
  transition: all .5s ease-in-out;
}

.li-star {
  margin-right: 13px;
  width: 15px;
  height: 14px;
}

.nav-ul li:first-child a:hover::after {
  width: 0% !important;

}



.responsive-navbar {
  display: none;
}

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .responsive-ul {
  visibility: visible;
  right: 0;
}
.menu__btn {
  display: none;
}
.menu__btn > span {
  display: flex;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: 0.25s;
}

.res-li {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.res-li img {
  margin-top: 15px;
}

.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
.responsive-ul {
  display: flex;
  flex-direction: column;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 240px;
  bottom: 0;
  padding: 100px 30px;
  background-color: #eceff1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  transition-duration: .3s;
  z-index: 99;
}
.menu__item {
  margin-top: 1.5em;
  transition: 0.3s;
}

.menu__item {
  position: relative;
}


/* MEDIA QUERIES BURGER MENU */
@media (max-width: 1125px) {
  .nav, .profile {
    display: none;
  }

  .responsive-navbar {
    display: flex;
    align-items: center;
  }

  .header__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
  }
  .menu__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    transition: 0.4s;
    cursor: pointer;
    z-index: 999;
  }
}









@media (max-width:1115px) {
  .logo {
    width: 70px;
    height: 20px;
  }

  .nav-ul {
    column-gap: 30px;
  }

  .header a {
    font-size: 14px;
    letter-spacing: 1px;
  }

  .profile {
    gap: 15px;
  }
}