.customs {
    margin: 130px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #72BDA3;
    height: 800px;
}

.customs-head {
    color: #011F3A;
    font-size: 32px;
    font-weight: 400;
    line-height: 41px;
}

.equipments {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.equipment {
    /* margin: 0 95px; */
    /* display: flex;
    flex-direction: column; */

}

.eq-picture {
    width: 335px;
}

.customs-headline {
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.36000001430511475px;
    text-align: center;
    color: #011F3A;
}

.customs-about {
    height: 48px;
    width: 190px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin: 10px auto;
    text-align: center;
    color: #3D5675;
}

.start-btn {
    width: 220px;
    height: 44px;
}

.start-btn:hover {
    background-color: white;
    color: #011F3A;
    transform: none;
}

@media(max-width:1230px) {
    .customs {
        height: 100%;
        padding: 20px 0 !important;
        row-gap: 20px;
    }

    .customs-head {
        font-size: 27px;
    }

    .equipments {
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }

    .eq-picture {
        width: 280px;
    }

    .customs-headline {
        font-size: 16px;
        letter-spacing: 0.3px;
    }

    .customs-about {
        font-size: 14px;
        line-height: 20px;
    }
    .start-btn {
        width: 190px;
        height: 40px;
        font-size: 12.5px;
        letter-spacing: 1.6px;

    }
}

@media(max-width:835px) {
    .customs {
        margin: 70px auto;
        max-width: 400px;
    }

    .customs-head {
        font-size: 24px;
        text-align: center;
    }
    .start-btn {
        width: 160px;
        height: 38px;
        font-weight: normal;
        text-transform: none;
    }
}

@media(max-width:430px) {
    .customs {
        max-width: 300px;
    }
}