.achievements {
    background-color: #fff;
}

.achievements-content {
    height: 120px;
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.certificate {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.diploms-name {
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.6000000238418579px;
    color: #A1A1A1;
    margin-left: 16px;
}

.shopify {
    max-width: 81px;
}

.amazon {
    max-width: 67px;
}

.mix {
    max-width: 60px;
}

@media (max-width:860px) {
    .shopify-picture {
        max-width: 120px;
    }

    .amazon-picture {
        max-width: 65px;
    }

    .mix-picture {
        max-width: 110px;
    }

    .diploms-name {
        font-size: 14px;
        letter-spacing: 0.45px;
        margin-left: 12px;
    }
}

@media(max-width:700px) {
    .diploms-name {
        letter-spacing: 0.4px;
        margin-left: 2px;
    }
}

@media(max-width:530px) {
    .achievements {
        height: 300px;
    }

    .achievements-content {
        flex-direction: column;
        max-height: 300px;
        row-gap: 30px;
        
    }
}