.browse-products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px 0;
}

.customer {
    max-height: 38px;
    max-width: 415px;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #011F3A;

}

.browse-btn {
    height: 44px;
    width: 247px;

}

.products {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 1008px;
}

.product {
    background-color: #FFFFFF;
    max-height: 504px;
    height: 500px;
    width: 490px;
    max-width: 493px;
    display: flex;
    flex-direction: column;
}

.product-image {
    max-width: 493px;
    width: 490px;
    height: 371px;
    max-height: 374px;
}

.info-for-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
}

.about-product {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

}

.carton-box {
    max-width: 209px;
}

.no-price-box {
    padding: 0 25px;
    max-width: 229px;
    height: 128px;
    padding: 10px 25px;
}

.no-price-poly {
    padding: 0 25px;
    max-width: 255px;
    height: 128px;
    padding: 11px 25px;
}

.custom-tape {
    max-width: 197px;
}

.sticker {
    max-width: 166px;
}

.custom-paper {
    max-width: 182px;
}


.product-text {
    color: #011F3A;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.36000001430511475px;
    line-height: 22px;
}

.product-text-item {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;

    color: #777777;
}

.price {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: right;
    color: #A1A1A1;

}

.stocks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    gap: 16px;
}

.stock-item {
    height: 24px;
    width: 212px;
    left: -0.1875px;
    top: 9.6875px;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    color: #A1A1A1;
}

@media(max-width:1500px) {
    .products {
        width: 1200px;
        height: 864px;
        gap: 5px;
    }

    .product {
        width: 398px;
        height: 432px;
    }
    .product-image {
        width: 398px;
        height: 302px;

    }
}

@media (max-width:1230px) {
    .products {
        grid-template-columns: auto auto;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
}

@media (max-width:900px) {
    .browse-products {
        margin: 50px 0;
    }

    .customer {
        font-size: 25px;

    }

    .browse-btn {
        max-height: 40px;
        max-width: 210px;
        letter-spacing: 1.5px;
        font-size: 12px;
        
    }

}

@media(max-width:835px) {
    .container {
        padding: 0 10px;
    }

    .products {
        grid-template-columns: auto;
        
    }
}

@media(max-width:650px) {
    .browse-products {
        flex-direction: column;
        row-gap: 40px;
    }
}

@media (max-width:415px) {
    .product{
        width: 300px;
        height: 325px;
    }

    .product-image {
        width: 300px;
        height: 227px;
    }

    .about-product {
        row-gap: 2px;
    }

    .product-text {
        font-size: 15px;
        letter-spacing: 0.3px;
    }

    .product-text-item {
        font-size: 13.5px;
        line-height: 18px;
    }

    .price {
        font-size: 14px;
        line-height: 22px;
    }

    .stocks {
        flex-wrap: wrap;
    }

}

@media(max-width:340px) {
    .customer {
        font-size: 20px;
    }
}