@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("./fonts/Roboto/Roboto-Regular.ttf");
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", "Times New Roman";
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-size: 14px;
  background: #EEEEEE;
  font-weight: 400;
  height: 9000px;
}

p {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1480px;
  margin: 0 auto;
}